class {
    sayHi() {
        alert("Hi!");
    }
}

<html>
<head>
    <title>Hello World</title>
</head>
<body>
    <h1>Hello World</h1>
    <button on-click("sayHi")  >Click me!</button>
</body>
</html>