HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
src/main/resources/application-key.yml


### VS Code ###
.vscode/
src/main/java/SpringBootCommunityWeb/web/config/
src/main/resources/static/images/
